<p>products works!</p>
<div class="card">
    <div class="card-head">kalsdjfklasdjflka - product 1</div>
    <div class="card-body">
        kalsdjfklasdjflkasdjfaklsdjfasdkl;fjasdklfjasdl;fjaskldfjaskl;dfhjasdjklhfsjkladnvsjdklhvasdjkvnasdlfhjsadklf
    </div>
</div>

<div class="card">
    <div class="card-head">kalsdjfklasdjflka - product 2</div>
    <div class="card-body">
        kalsdjfklasdjflkasdjfaklsdjfasdkl;fjasdklfjasdl;fjaskldfjaskl;dfhjasdjklhfsjkladnvsjdklhvasdjkvnasdlfhjsadklf
    </div>
</div>
