<div class="container-fluid">
    <div class="row">
        <!-- Contenido principal -->
        <main class="col-md-9 ms-sm-auto col-lg-11 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Bienvenido a tu página de especialista!</h1>
            </div>

            <!-- Aquí va el contenido específico de la página -->
            <div class="container">
                <h2>Mi Perfil</h2>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Detalles de Usuario</h5>
                        <p class="card-text">Aquí puedes ver la información de tu cuenta: </p>
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Código de Especialista: </strong>{{this.especialista.specialist_code}}</li>
                            <li class="list-group-item"><strong>Nombre:</strong> {{this.especialista?.first_name+" "+this.especialista?.last_name}}</li>
                            <li class="list-group-item"><strong>Correo electrónico</strong> {{this.especialista?.email}}</li>
                            <li class="list-group-item"><strong>Rol: </strong> {{this.especialista?.rol}}</li>
                            <li class="list-group-item"><strong>Especialidad: </strong> {{this.especialista?.specialty}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
