.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  margin-bottom: 20px; /* Espacio entre el selector y el mapa */
}

.map-container google-map {
  width: 100%;
  height: 400px; /* Ajusta el tamaño del mapa según sea necesario */
}
