body {
    font-family: Verdana, Geneva;
    background-color: #E8F6F3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.register-container {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%; /* Aumenta el ancho al 80% de la pantalla */
    max-width: 1000px; /* Ancho máximo de 1000px */
}
.register-container img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}
.register-container h3 {
    font-weight: bold;
    margin-bottom: 20px;
}
.register-container .form-group {
    font-weight: bold;
    text-align: left;
}
.register-container .btn {
    font-weight: bold;
    width: 100%;
    background-color: #eeeee4;
    color: black;
}
.register-container .btn:hover {
    background-color: #eeeee4;
}
.register-container .register-link {
    margin-top: 20px; /* Aumenta el margen superior para separar del formulario */
    display: block;
}
