<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened #sidenav class="sidenav">
      <div class="user-info">
        <img [src]="userPhoto" alt="User Photo" class="user-photo">
        <h3>{{ userName }}</h3>
      </div>
      <mat-nav-list>
        <mat-list-item (click)="navigate('perfil')">
          <mat-icon>person</mat-icon>
          <span>Perfil</span>
        </mat-list-item>
        <mat-list-item (click)="navigate('resultados')">
          <mat-icon>history</mat-icon>
          <span>Ver Resultados Pasados</span>
        </mat-list-item>
        <mat-list-item (click)="navigate('/test')">
          <mat-icon>assessment</mat-icon>
          <span>Test</span>
        </mat-list-item>
        <mat-list-item (click)="navigate('ayuda')">
          <mat-icon>help</mat-icon>
          <span>Ayuda</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  