.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
  }
  .student-name {
    font-size: 1.5em;
    font-weight: bold;
  }
  .logout-button {
    background-color: #566573;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  .logout-button:hover {
    background-color: #444;
  }